@media  screen and (max-width: 3000px) {
    nav
    {
        height: 60px;
    }
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        height: 220px;
    }
    nav .main_pages a 
    {
        width: 200px;
    }
    label 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;
        WIDTH: 50px;
        font-size: 50px;
    }
    #toggle:checked + .main_pages 
    {
        display: flex;
    }
    .menu
    {
        font-size: 21px;
    }

}


/*portable mode paysage*/
@media  screen and (min-width: 550px) {
    body 
    {
        flex-direction: column;
    }
    .description_de_la_page
    {
        font-size: 20px;
        LINE-HEIGHT: 18px;
        
    }
    .description_de_la_page_membre
    {
        font-size: 30px;
        LINE-HEIGHT: 15px;
        height: 20%;
    }
    .description_de_la_page_articles
    {
        font-size: 35px;
    }
    .titre_articles img 
    {
        width: 150px;
        height: 100px;
        margin-left: 6%;
        object-fit: cover;
        object-position: center;
    }
    .auteur_article
    {
        margin-left: 6%;
    }
    .button_voir_plus
    {
        margin-left: 25%;
    }
    .button_voir_plus button 
    {
        font-size: 80%;
    }
    .titre_articles, .titre_jeux
    {
        font-size: 18px;
        margin-left: 6%;
    }
    .titre_jeux img
    {
        width: 150px;
        height: 100px;
        margin-left: 6%;
        object-fit: cover;
        object-position: center;
    }
    .description_jeux
    {
        font-size: 15px;
        line-height: 20px;
        DISPLAY: FLEX;
        flex-direction: row;
        padding-right: 50%;
    }
    .button_favori
    {
        width: 180%;
        HEIGHT: 40px;
        font-size: 17px;
    }
    .button_deconnexion
    {
        width: 180%;
        HEIGHT: 40px;
        font-size: 17px;
        
    }
    .a_button_deco
    {
        margin-left: 25%;
    }
    .button_se_connecter
    {
        font-size: 20px;
    }
    .affichage_manager
    {
        font-size: 19px;
    }
    .affichage_producteur
    {
        font-size: 19px;
    }
    .comptes
    {
        height: 13%;
    }
    .gestion_comptes_div
    {
        margin-top: 6%;
    }
    .button_creer_jeux
    {
        font-size: 18px;
    }
    .partie_titre
    {
        margin-left: 5%;
    }
    .retirer_favori
    {
        width: 80%;
    }
    .articles_en_details h1
    {
        font-size: 2.6em;
    }
    .contenu
    {
        font-size: 25px;
    }
    .articles_en_details img
    {
        width: 200px;
    }
    .petite_infos
    {
        font-size: 20px;
    }
    .retour
    {
        height: 28px;
        FONT-SIZE: 18px;
        margin-top: 5%;
    }
    .div
    {
        font-size: 20px;
    }
    .jeux_videos_details h1
    {
        font-size: 2.3em;
    }
    .note
    {
        width: 70px;
    }
    .div_favoris button
    {
        font-size: 18px;
    }
    .publier_jeux_form input
    {
        font-size: 22px;
    }
    .publier_jeux_form textarea
    {
        font-size: 22px;
    }
    .publier_jeux_form select
    {
        font-size: 22px;
    }
    .input_description
    {
        font-size: 22px;
    }
    .button_creation
    {
        font-size: 22px;
    }
    .button_modif_budget
    {
        font-size: 18px;
    }
    .export_infos
    {
        font-size: 18px;
    }
    .titre
    {
        FONT-SIZE: 35px;
    }
    .statut
    {
        FONT-SIZE: 18px;
        padding-right: 15px;
    }
    .email_mdp_oublie
    {
        font-size: 20px;
        height: 30px;
    }
    .button_oublie
    {
        font-size: 20px;
        height: 30px;
    }
    .login form
    {
        margin-left: 35%;
    }
    .user
    {
        font-size: 15px;
    }
    .mdp
    {
        font-size: 15px;
    }
    .button
    {
        font-size: 18px;
    }
    .button_envoyez
    {
        font-size: 18px;
    }
    .mail
    {
        margin-bottom: 12%;
        font-size: 15px;
    }
    .mdp_inscription
    {
        margin-bottom: 12%;
        font-size: 15px;
    }
    .inscription .button
    {
        margin-left: 0;
        margin-top: 0;
    }
    .reinit
    {
        margin-top: 10%;
    }
    .button_reinit
    {
        font-size: 20px;
    }

    .contacter
    {
        height: 15%;
        FONT-SIZE: 30px;
    }
    .adresse_mail .mail
    {
        font-size: 20px;
    }
    .objet
    {
        font-size: 20px;
    }
    .message
    {
        font-size: 20px;
    }
    .button
    {
        font-size: 20px;
    }
    .button_envoyez
    {
        font-size: 20px;
    }
    .mentions_obligatoire
    {
        font-size: 13px;
        width: 160%;
        line-height: 40px;
        margin-top: 0;
        
    }
    .logo_reseaux
    {
        justify-content: space-between;
    }
}


/*tablette*/
@media  screen and (min-width: 768px) {
    body 
    {
        flex-direction: column;
    }
    .description_de_la_page
    {
        font-size: 20px;
        line-height: 17px;
    }
    .condition
    {
        font-size: 30px;
        line-height: 40px;
    }
    .titre_articles  img 
    {
        width: 190px;
        height: 100px;
        margin-left: 12%;
        object-fit: cover;
        object-position: center;
    }
    .button_voir_plus
    {
        margin-left: 38%;
    }
    .button_voir_plus button 
    {
        width: 230px;
        font-size: 95%;
    }
    .titre_articles, .titre_jeux
    {
        font-size: 20px;
        margin-left: 6%;
    }
    .auteur_article
    {
        font-size: 13px;
        margin-left: 6%;
    }
    .titre_jeux img 
    {
        width: 190px;
        HEIGHT: 100px;
        margin-left: 12%;
        object-fit: cover;
        object-position: center;
        margin-top: 1%;
    }
    .description_jeux
    {
        font-size: 15px;
        DISPLAY: FLEX;
        flex-direction: row;
        padding-right: 50%;
        margin-left: 6%;
        line-height: 21px;
    }
    .jeux button 
    {
        margin-top: 15px;
    }

    .button_se_connecter
    {
        width: 150%;
        font-size: 23px;
    }

    .affichage_compte
    {
        margin-left: 30%;
    }
    .affichage_manager
    {
        flex-direction: row;
        font-size: 23px;
    }
    .affichage_producteur
    {
        flex-direction: row;
        font-size: 23px;
    }
    .affichage_compte a
    {
        margin-top: 0;
        margin-left: 3%;
    }
    .button_modif
    {
        font-size: 15px;
    }
    .button_bannir
    {
        font-size: 15px;
    }
    .gestion_comptes_div a
    {
        font-size: 25px;
    }
    .button_creer_jeux
    {
        font-size: 20px;
    }
    .partie_titre
    {
        margin-left: 8%;
    }
    .partie_titre h1
    {
        font-size: 35px;
    }
    .partie_titre p
    {
        font-size: 20px;
    }
    .partie_button button
    {
        font-size: 20px;
    }
    .ul_favori
    {
        margin-left: 30%;
    }
    .li_favori
    {
        margin-bottom: 10%;
    }
    .petite_infos
    {
        margin-top: 1%;
    }
    .publier_jeux_form input
    {
        font-size: 27px;
    }
    .publier_jeux_form textarea
    {
        font-size: 27px;
    }
    .publier_jeux_form select
    {
        font-size: 27px;
    }
    .input_description
    {
        font-size: 27px;
    }
    .button_creation
    {
        font-size: 27px;
        height: 45px;
    }
    .button_modif_budget
    {
        font-size: 20px;
    }
    .export_infos
    {
        font-size: 20px;
    }
    .titre
    {
        FONT-SIZE: 50px;
    }
    .priorite
    {
        FONT-SIZE: 30px;
    }
    .galerie-images img
    {
        width: 450px;
        height: auto;
    }
    .statut
    {
        font-size: 22px;
    }
    .se_connecter
    {
        font-size: 30px;
    }
    .user
    {
        font-size: 20px;
    }
    .mdp
    {
        font-size: 20px;
    }
    .button
    {
        font-size: 23px;
    }
    .mail
    {
        font-size: 20px;
    }
    .mdp_inscription
    {
        font-size: 20px;
    }
    .button
    {
        margin-left: 0;
        margin-top: 0;
    }
    .reinit
    {
        margin-top: 10%;
    }
    .button_reinit
    {
        font-size: 23px;
    }
    .admin
    {
        width: 100%;
        FONT-SIZE: 20px;
    }
    .mdp_admin
    {
        width: 100%;
        FONT-SIZE: 20px;
    }
    .button_admin
    {
        width: 100%;
        FONT-SIZE: 20px;
        margin-left: 0;
    }
    .contacter
    {
        FONT-SIZE: 35px;
    }
    .button
    {
        font-size: 23px;
    }
    .button_envoyez
    {
        font-size: 23px;
    }
    .mentions_obligatoire
    {
        font-size: 13px;
        width: 160%;
        flex-direction: row;
        margin-top: 4%;
    }
    .logo_reseaux
    {
        justify-content: space-between;
    }
}
/*ordinateur*/
@media screen and (min-width: 992px) {
    .logo img 
    {
        width: 120px;
        height: 120px;
        margin-top: 25%;
    }
    body 
    {
        flex-direction: column;
    }
    .haut_de_page
    {
        height: 11%;
    }
    .description_de_la_page
    {
        FONT-SIZE: 27px;
        line-height: 20px;
        margin-top: 1%;
    }
    
    .titre_articles  img 
    {
        width: 200px;
        height: 130px;
        object-fit: cover;
        object-position: center;
        MARGIN-LEFT: 0;
        margin-right: 30%;
    }
    .button_voir_plus
    {
        margin-left: 67%;
        position: absolute;
    }
    .button_voir_plus button 
    {
        width: 230px;
        font-size: 95%;
        height: 50px;
    }
    .titre_articles, .titre_jeux
    {
        font-size: 23px;
        margin-left: 6%;
    }
    .auteur_article
    {
        FONT-SIZE: 14px;
        margin-top: 2%;
        margin-left: 6%;
    }
    .titre_jeux img 
    {
        width: 200px;
        height: 130px;
        object-fit: cover;
        object-position: center;
        MARGIN-LEFT: 0;
        margin-right: 30%;
        margin-top: 1%;
    }
    .description_jeux
    {
        DISPLAY: FLEX;
        flex-direction: row;
        padding-right: 50%;
        margin-left: 6%;
        height: 26%;
        margin-top: 2px;
        font-size: 18px;
        LINE-HEIGHT: 25px;
    }
    .jeux button 
    {
        margin-top: 15px;
        width: 230px;
        font-size: 95%;
        height: 50px
    }
    .button_membre
    {
        margin-top: 5%;
    }
    .button_favori
    {
        width: 230%;
        font-size: 23px;
    }
    .button_deconnexion
    {
        font-size: 23px;
    }
    .affichage_compte
    {
        margin-left: 25%;
    }
    .button_modif
    {
        font-size: 18px;
    }
    .button_bannir
    {
        font-size: 18px;
    }
    .gestion_comptes_div a
    {
        font-size: 35px;
    }
    .button_creer_jeux
    {
        font-size: 30px;
        height: 35px;
    }
    .partie_titre h1
    {
        font-size: 40px;
    }
    .partie_titre p
    {
        font-size: 25px;
    }
    .partie_button button
    {
        font-size: 22px;
    }
    .li_favori a
    {
        font-size: 35px;
    }
    .articles_en_details h1
    {
        font-size: 3em;
    }
    .contenu
    {
        font-size: 30px;
    }
    .retour
    {
        font-size: 25px;
        height: 35px;
    }
    .jeux_videos_details h1
    {
        font-size: 2.6em;
    }
    .div
    {
        font-size: 25px;
    }
    .div_favoris button
    {
        font-size: 25px;
    }
    .note
    {
        width: 80px;
        height: 60px;
    }
    .button_modif_budget
    {
        font-size: 30px;
        height: 35px;
    }
    .export_infos
    {
        font-size: 30px;
        height: 35px;
    }
    .email_mdp_oublie
    {
        font-size: 25px;
        height: 35px;
    }
    .button_oublie
    {
        font-size: 25px;
        height: 35px;
    }
    .se_connecter
    {
        font-size: 35px;
        height: 18%;
    }
    .user
    {
        font-size: 23px;
    }
    .mdp
    {
        font-size: 23px;
    }
    .button
    {
        font-size: 25px;
        margin-left: 6%;
    }
    .mail
    {
        font-size: 23px;
    }
    .mdp_inscription
    {
        font-size: 23px;
    }
    .inscription .button
    {
        margin-left: 0;
        margin-top: 0;
        font-size: 25px;
    }
    .reinit
    {
        margin-top: 6%;
    }
    .button_reinit
    {
        font-size: 26px;
        height: 40px;
    }
    .contacter
    {
        margin-top: 3%;
        font-size: 40px;
    }
    .adresse_mail form
    {
        width: 550px;
    }
    .mail
    {
        height: 45px;
        font-size: 25px;
    }
    .objet
    {
        height: 45px;
        font-size: 25px;
    }
    .message
    {
        font-size: 25px;
        height: 300px;
    }
    .button
    {
        font-size: 30px;
    }
    .button_envoyez
    {
        font-size: 30px;
    }
    .mentions_obligatoire
    {
        font-size: 15px;
        width: 160%;
        flex-direction: row;
        margin-top: 4%;
    }
    .logo_reseaux
    {
        justify-content: space-between;
    }
    .logo_reseaux img
    {
        height: 42px;
    }
}
/*ecran large*/
@media screen and (min-width: 1200px) {
    body 
    {
        flex-direction: column;
    }
    .haut_de_page
    {
        height: 13%;
    }
    .logo img
    {
        width: 150px;
        height: 150px;
        margin-left: 4%;
        margin-top: 19%;
    }
    .description_de_la_page
    {
        FONT-SIZE: 27px;
        line-height: 27px;
    }
    .description_de_la_page_membre
    {
        font-size: 45px;
    }
    .condition
    {
        FONT-SIZE: 40px;
        margin-top: 3%;
    }
    .titre_articles  img 
    {
        width: 350px;
        height: 150px;
        object-fit: cover;
        object-position: center;
        MARGIN-LEFT: 0;
        margin-right: 30%;
    }
    .button_voir_plus
    {
        margin-left: 75%;
    }
    .button_voir_plus button 
    {
        width: 280px;
        font-size: 110%;
        height: 80px
    }
    .titre_articles, .titre_jeux
    {
        font-size: 27px;
        margin-left: 6%;
    }
    .auteur_article
    {
        FONT-SIZE: 17px;
        margin-top: 3%;
        margin-left: 6%;
        margin-bottom: 1%;
    }
    .titre_jeux img 
    {
        width: 305px;
        height: 150px;
        object-fit: cover;
        object-position: center;
        MARGIN-LEFT: 0;
        margin-right: 30%;
        margin-top: 1%;
    }
    .description_jeux
    {
        DISPLAY: FLEX;
        flex-direction: row;
        padding-right: 50%;
        margin-left: 6%;
        height: 26%;
        margin-top: 18px;
        font-size: 23px;
        LINE-HEIGHT: 25px;
    }
    .jeux button 
    {
        margin-top: 15px;
        height: 80px;
        width: 280px;
        font-size: 110%;
    }

    .incorrect
    {
        margin-top: 2%;
    }
    .button_se_connecter
    {
        font-size: 27px;
    }
    .affichage_compte
    {
        margin-left: 30%;
    }
    .affichage_manager
    {
        font-size: 28px;
    }
    .affichage_producteur
    {
        font-size: 28px;
    }
    .button_modif
    {
        font-size: 20px;
    }
    .button_bannir
    {
        font-size: 20px;
    }
    .button_creer_jeux
    {
        height: 40px;
    }
    .partie_titre h1
    {
        font-size: 50px;
    }
    .partie_titre p
    {
        font-size: 30px;
    }
    .partie_button button
    {
        font-size: 30px;
    }
    .partie_button .button_modif
    {
        margin-right: 200px;
    }
    .button_membre
    {
        margin-left: 30%;
    }
    .ul_favori
    {
        margin-top: 5%;
        margin-left: 35%;
    }
    .note
    {
        width: 100px;
    }
    .input_description
    {
        font-size: 30px;
    }
    .button_modif_budget
    {
        height: 40px;
    }
    .export_infos
    {
        height: 40px;
    }
    .se_connecter
    {
        font-size: 43px;
        height: 15%;
    }
    .login
    {
        margin-left: 0%;
    }
    .login .user
    {
        font-size: 25px;
        height: 30px;
    }
    .login .mdp
    {
        font-size: 25px;
        height: 30px;
        margin-bottom: 10%;
    }
    .button
    {
        font-size: 25px;
        height: 15%;
        margin-left: 10%;
    }
    .mail
    {
        font-size: 25px;
        height: 30px;

    }
    .mdp_inscription
    {
        font-size: 25px;
        height: 30px;
        margin-bottom: 8%;

    }
    .button
    {
        margin-top: 0;
        font-size: 25px;
        height: 15%;
        margin-left: 6%;
    }
    
    .button_reinit
    {
        font-size: 30px;
        height: 50px;
        width: 350px;
    }
    .login_admin form
    {
        HEIGHT: 250px;
        WIDTH: 300px;
    }


    .contacter
    {
        margin-top: 0;
        font-size: 50px;
    }
    .adresse_mail form
    {
        width: 750px;
    }
    .button
    {
        margin-top: 2%;
    }
    .mentions_obligatoire
    {
        font-size: 23px;
        width: 160%;
        flex-direction: row;
        margin-top: 4%;
    }
    .logo_reseaux
    {
        justify-content: space-between;
    }
    .logo_reseaux img
    {
        height: 42px;
    } 
}
